.search-box {
    position: relative;
    width: 300px;
}

.search-box input {
    border-radius: 20px;
    border: 2px solid #E63946;
    padding-left: 40px;
}

.search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #E63946;
}